.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

/* thumbnail */

.card-image {
  width: "100%";
  height: 225px;
}

#image-main-1 {
  border-radius: 5px 5px 0px 0px;
  background-color: #3e3e3e;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../resources/main/img-main-1.png");
}
