body {
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .img-fluid {
    max-width: 60%;
    display: flex;
    margin: auto;
  }
}

@media (pointer: coarse) {
  .img-fluid {
    max-width: 100%;
    display: flex;
    margin: none;
  }
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.solarin-logo {
  cursor: pointer;
  height: 50px;
}

.solarin-font-color {
  color: #00a634;
}

.solarin-color {
  background-color: #00a634;
}

/* thumbnail */

.card-image {
  width: 100%;
  height: 225px;
}

.card-image-main {
  border-radius: 5px 5px 0px 0px;
  background-color: #646464;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#image-main-1 {
  background-image: url("../resources/main/img-main-1.png");
}

#image-main-2 {
  background-image: url("../resources/main/img-main-2.png");
}

#image-main-3 {
  background-image: url("../resources/main/img-main-3.png");
}

#image-main-4 {
  background-image: url("../resources/main/img-main-4.png");
}

#image-main-5 {
  background-image: url("../resources/main/img-main-5.png");
}

#image-main-6 {
  background-image: url("../resources/main/img-main-6.png");
}

#image-main-7 {
  background-image: url("../resources/main/img-main-7.png");
}

.image-detail {
  width: 100%;
  height: auto;
}

#image-main-detail-1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../resources/main/img-main-detail-1.png");
}

/* #main-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../resources/main/img-main-background.jpg");
} */

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.cover-container {
  max-width: 42em;
  text-align: center;
  min-height: 90vh;
  display: flex;
}

.cover-container section {
  margin: auto;
}

#image-patent-1 {
  background-image: url("../resources/patent/p1.png");
}

#image-patent-2 {
  background-image: url("../resources/patent/p2.png");
}

#image-patent-3 {
  background-image: url("../resources/patent/p3.jpg");
}

#image-patent-4 {
  background-image: url("../resources/patent/p4.jpg");
}

#image-patent-5 {
  background-image: url("../resources/patent/p5.jpg");
}

#image-patent-6 {
  background-image: url("../resources/patent/p6.jpg");
}

#image-patent-7 {
  background-image: url("../resources/patent/c1.png");
}

#image-patent-8 {
  background-image: url("../resources/patent/c2.png");
}

#image-patent-9 {
  background-image: url("../resources/patent/c3.png");
}

#image-patent-10 {
  background-image: url("../resources/patent/c4.png");
}

#image-patent-11 {
  background-image: url("../resources/patent/c5.jpg");
}

#image-patent-12 {
  background-image: url("../resources/patent/c6.jpeg");
}

.card-image-patent {
  border-radius: 5px 5px 5px 5px;
  background-color: #ffffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.patent-card {
  margin-bottom: 20px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #00a634;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: #ffffff;
  --bs-nav-link-hover-color: #00a634;
  --bs-nav-link-disabled-color: #6c757d;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.header-wrapper {
  margin: auto 0;
}

.text-bg-dark {
  color: rgb(255, 255, 255) !important;
  background-color: #000000 !important;
}

/* header */

.header-nav-dark {
  --bs-nav-link-color: #ffffff !important;
}

.header-nav-dark:active {
  --bs-nav-link-hover-color: #00a634 !important;
}

.header-nav-light {
  --bs-nav-link-color: #000000 !important;
}

.header-nav-light:active {
  --bs-nav-link-hover-color: #00a634 !important;
}
